$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import "font-awesome/scss/font-awesome";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

.container {
  padding-top: 20px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
